<%= form_for(@paciente) do |f| %>
  <% if @paciente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

      <ul>
      <% @paciente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombrepaciente %><br>
    <%= f.text_field :nombrepaciente %>
  </div>
  <div class="field">
    <%= f.label :apepaciente %><br>
    <%= f.text_field :apepaciente %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
