<p id="notice"><%= notice %></p>

<h3>Especialidades</h3>

<table class=" table table-bordered table-hover">
  <thead>
    <tr>
      <th>Nombreespe</th>
      <th>Sala</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @especialidads.each do |especialidad| %>
      <tr>
        <td><%= especialidad.nombreespe %></td>
        <td><%= especialidad.sala %></td>
        <td><%= link_to 'Show', especialidad %></td>
        <td><%= link_to 'Edit', edit_especialidad_path(especialidad) %></td>
        <td><%= link_to 'Destroy', especialidad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Especialidad', new_especialidad_path %>
